{{- define "fieldName" -}}

{{- $field := .Field -}}
{{- $candidate := $field.Name -}}
{{- $replacements := list
    (dict "from" "HTTPS" "to" "Https")
    (dict "from" "HTTP" "to" "Http")
    (dict "from" "OAuth" "to" "Oauth")
    (dict "from" "OIDC" "to" "Oidc")
    (dict "from" "PKCE" "to" "Pkce")
    (dict "from" "UUID" "to" "Uuid")
    (dict "from" "JSON" "to" "Json")
    (dict "from" "HTML" "to" "Html")
    (dict "from" "XML" "to" "Xml")
    (dict "from" "JWT" "to" "Jwt")
    (dict "from" "URL" "to" "Url")
    (dict "from" "URI" "to" "Uri")
    (dict "from" "RPC" "to" "Rpc")
    (dict "from" "API" "to" "Api")
    (dict "from" "OTP" "to" "Otp")
    (dict "from" "EOA" "to" "Eoa")
    (dict "from" "ABI" "to" "Abi")
    (dict "from" "SQL" "to" "Sql")
    (dict "from" "ID" "to" "Id")
 -}}
{{- range $replacement := $replacements -}}
    {{- $candidate = replace (get $replacement "from") (get $replacement "to") $candidate -}}
{{- end -}}
{{- $candidate = camelCase $candidate -}}

{{- if in $candidate "associatedtype" "class" "deinit" "enum" "extension" "fileprivate" "func" "import" "init" "inout" "internal" "let" "operator" "private" "protocol" "public" "static" "struct" "subscript" "typealias" "var" "break" "case" "continue" "default" "defer" "do" "else" "fallthrough" "for" "guard" "if" "in" "repeat" "return" "switch" "where" "while" "as" "Any" "catch" "false" "is" "nil" "rethrows" "super" "self" "Self" "throw" "throws" "true" "try" "Type" "Protocol" -}}
    {{- printf "`%s`" $candidate -}}
{{- else -}}
    {{- $candidate -}}
{{- end -}}

{{- end -}}
