{{- define "methodInputs" -}}

{{- $method := .Method -}}
{{- $serviceAPIName := .ServiceAPIName -}}

{{- if gt (len $method.Inputs) 0 -}}
_ request: {{- if $method.Succinct -}}{{template "type" dict "Type" (index $method.Inputs 0).Type "TypeMap" .TypeMap}}{{- else -}}{{$serviceAPIName}}.{{$method.Name}}.Request{{- end -}}
{{- end -}}
{{- end -}}
